/**
 * Feuille de style personnalisée
 ============================================ */
 
 h1 {
    font-family: montserrat,sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.btn-primary {
    background: #000000;
    color: #fff;
    }

    .site-project-item-content, .site-blog-post-content {
        position: absolute;
        background: #000000;
        width: 100%;
        padding: 45px 50px;
        bottom: 0;
        transition: all .3s cubic-bezier(0.36,0.03,0,0.91);
        }

        h3 {
            font-family: montserrat,sans-serif;
            font-weight: 600;
            color: #ffffff;
            }

      

         .site-project-item-content span, .site-blog-post-content span {
                font-family: montserrat,sans-serif;
                color: #00c4ff;
                display: block;
                margin-bottom: 10px;
                }

                .site-project-cta {
                    margin-top: 30px;
                    display: inline-block;
                    position: relative;
                    font-family: montserrat,sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: #000000;
                    }

                    .site-contact-title span {
                        color: #00c4ff;
                        }
                        .site-project-header {
                            padding: 170px 0 100px;
                            background: #000000;
                            }
                            .site-footer {
                                background: #000000;
                                padding: 100px 0;
                                }
                                .site-counter {
                                    padding: 85px 0;
                                    color: #fff;
                                    background: #000000;
                                    }
                        
                                    .site-contact {
                                        padding: 150px 0 100px;
                                        background: #000000;
                                        }

                                        h4{
                                            font-family: montserrat,sans-serif;
                                            font-weight: 600;
                                            color: #fbfbfb;
                                            }

                                            .form-control {
                                                background: 0 0;
                                                border-radius: 0;
                                                margin-bottom: 30px;
                                                padding: 0 0 10px;
                                                border-width: 0 0 1px;
                                                border-color: #00c4ff;
                                                font-weight: 300;
                                                letter-spacing: 1px;
                                                -webkit-appearance: none;
                                                height: 42px;
                                                }